<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Samba Camara</h4>
    <p class="list-group-item-text">...</p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Théo</h4>
    <p class="list-group-item-text">...</p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Thierry</h4>
    <p class="list-group-item-text">...</p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading"></h4>
    <p class="list-group-item-text">...</p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">...</p>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">...</p>
  </a>
</div>