<div class="well futsal">
<h1>Quelques informations sur le futsal (foot en salle)</h1></br>
</br>
<p> "Depuis 2007, la FFF a mis en place un championnat  de Futsal (Challenge National) composé de deux divisions.
Le Futsal se joue à 5 contre 5 (4 joueurs de champ et un gardien de but).
Le terrain et les buts sont ceux du Hand-Ball et le jeu s'effectue avec un ballon spécifique anti-rebond.
La surface de jeu doit être lisse, dépourvue d'aspérités et non abrasive,  de préférence en bois ou dans un matériau synthétique conformément au réglement de la compétition en question. Les surfaces en béton ou goudronnées sont déconseillées (cf : les lois du jeu du Futsal).
Les matches se disputent en deux mi-temps de 20 ou 25 minutes (temps non effectif).
Il n'y a pas de hors jeu en Futsal."</br>
<div class="text-center">
<iframe width="400" height="225" src="//www.youtube.com/embed/DldSJMjnsEs?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
Contact: </br>
Sevran Futsal United 06 17 97 00 31</br>
Plus d'infos : fff.fr </p>
</div>