<div class="well intro">
  <p>"Seul le travail paie" est une web-série qui vous plonge au coeur du Sevran Futsal United, situé au quartier des Beaudottes à Sevran (93). Vous allez découvrir une discipline sportive et un univers où l'esprit du sport se mêle à la rage de vaincre et de réussir des joueurs. Comment se finira la saison, joueurs et coachs, ne peuvent le prédire, mais dans leur regard, une seule certitude : Seul le travail paie... </p>

</div>

<div class="row">
  <div class="recit1">
    <div class="col-sm-6 col-md-offset-1 col-md-5 col-md-offset-1 col-lg-offset-1 col-lg-5 col-lg-offset-1">
      <div class="thumbnail">
        <%= image_tag "samba.png" %>
        <div class="caption">
          <h3>Recit 1</h3>
          <p>Plus qu'un club</br>
          Voici deux ans que le club de Sevran Futsal United a été créé. Après une première saison conclue par une montée en division supérieure. Samba Camara, le coach et son assistant Theodore Mendy poursuivent leur travail afin de faire de ce club un modèle sur le terrain et en dehors...</p>
          <p><a class="btn btn-primary" id="b1" role="button">Regarder</a> <a class="btn btn-default" id="r1" role="button">Retour</a></p>
        </div>
      </div>
    </div>
  </div>
    <div id="video1">
      <iframe width="400" height="225" src="//www.youtube.com/embed/4UczzQoMeAA?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="recit2">
      <div class="col-sm-6 col-md-5 col-lg-5">
        <div class="thumbnail">
          <%= image_tag "theo.png" %>
          <div class="caption">
            <h3>Recit 2</h3>
            <p>Une course de fond pour ton Salut</br>
              Théodore Mendy a évolué 15 ans dans le football à onze.A son retour à Sevran après avoir joué en Bretagne, il a le soucis de transmettre aux plus jeunes son expérience. Entre son travail au cimetière et les entrainements, il espère voir éclore plusieurs joueurs au haut niveau...         
            </p>
            <p><a class="btn btn-primary" id="b2" role="button">Regarder</a> <a class="btn btn-default" id="r2" role="button">Retour</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="video2">
    <iframe width="400" height="225" src="//www.youtube.com/embed/cq9Pw47DWYM?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="row">
  <div class="recit3">
    <div class="col-sm-6 col-md-offset-1 col-md-5 col-md-offset-1 col-lg-offset-1 col-lg-5 col-lg-offset-1">
      <div class="thumbnail">
        <%= image_tag "gassama.jpg" %>
        <div class="caption">
          <h3>Recit 3</h3>
          <p>N'essaie pas, fais le</br>
            Souleymane et Gassama. Deux joueurs talentueux mais aussi inséparables. Leur amitié remonte aux bancs de l'école primaire. Pour Théo, celle-ci peut leur jouer des tours quand il faudra faire sa valise et répondre à l'appel du haut niveau. Après avoir été "désorienté" en filière professionnelle, Souleymane parvient à se réorienter en fac d'histoire pour devenir professeur. Gassama, tente sa chance dans un concours d'infirmier. 
          </p>
          <p><a class="btn btn-primary" id="b3" role="button">Regarder</a> <a class="btn btn-default" id="r3" role="button">Retour</a></p>
        </div>
      </div>
    </div>
  </div>

    <div id="video3">
<iframe width="400" height="300" src="//www.youtube.com/embed/MFyOHY7YzWc?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="recit4">
      <div class="col-sm-6 col-md-5 col-lg-5">
        <div class="thumbnail">
          <%= image_tag "otmani.jpg" %>
          <div class="caption">
            <h3>Dans les prochains Récits</h3>
            <p>
              Dans les prochains Récits, vous allez découvrir la compétition et la tention qui en découle. Le gymnase Bacquet où joue l'équipe et ses supporters : la "K-soce team", qui mettent le feu lors des matchs.</br>
              Mais aussi, vous allez faire la connaissance du haut niveau avec des joeurs de l'équipe de France : Yassine Mohammed, Moustapha Othmani
              
            </p>
            <p><a class="btn btn-primary" id="b4" role="button">Regarder</a> <a class="btn btn-default" id="r4" role="button">Retour</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="video4">
    <iframe width="400" height="225" src="//www.youtube.com/embed/ctp8zU3YLqc?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>