<div class="row text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<%= image_tag "theo.png" %>
</div>
<div class="text-center video col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<iframe width="560" height="315" src="//www.youtube.com/embed/rRQ2sqZPsvc?rel=0" frameborder="0"allowfullscreen></iframe>
</div>