<div class="text-center">
<img style="max-width:100%" src="//cdn.thinglink.me/api/image/517026829882621953/1024/10/scaletowidth#tl-517026829882621953;1043138249" class="alwaysThinglink"/><script async charset="utf-8" src="//cdn.thinglink.me/jse/embed.js"></script>
</div>

<!-- Begin MailChimp Signup Form -->
<style type="text/css">
	#mc_embed_signup{background:black; clear:left; font:10px 'Keania One', cursive; width: 300px; margin-bottom: }
	label {color: white; margin-top: 3px;}
	h2 {color: white;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://seuletravailpaie.us8.list-manage.com/subscribe/post?u=da14fba3c89e5616db07b73ac&amp;id=f8fa8152b5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">Inscrivez-vous et faites connaitre le projet</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_da14fba3c89e5616db07b73ac_f8fa8152b5" value=""></div>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<div class="text-center">
<img style="max-width:100%" src="//cdn.thinglink.me/api/image/516409450383278080/1024/10/scaletowidth#tl-516409450383278080;1043138249" class="alwaysThinglink"/><script async charset="utf-8" src="//cdn.thinglink.me/jse/embed.js"></script>
</div>

<div class="jumbotron">
	<h3>Seul le travail paie</h3>
  	<p class="lead">Dans nos regards, une seule vérité, une seule. Seul le travail paie.Voici notre histoire </p>
</div>