<div class="row">
  <div class="btn-group btn-group-justified">
  <div class="btn-group">
    <button type="button" class="btn btn-default">Le club</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default">Le futsal</button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default">Le réalisateur</button>
  </div>
</div>
</div>


<div class="row">
  <div class="recit1">
    <div class="col-sm-6 col-md-offset-1 col-md-5 col-md-offset-1 col-lg-offset-1 col-lg-5 col-lg-offset-1">
      <div class="thumbnail">
        <%= image_tag "theo.png" %>
        <div class="caption">
          <h3>Recit 1</h3>
          <p>Plus qu'un club
            Ajoutée le 4 mai 2014
            Pour suivre la serie :
            www.seuletravailpaie.com
            Facebook : facebook.com/seuletravailpaie
          </p>
          <p><a class="btn btn-primary" id="b1" role="button">Regarder</a> <a class="btn btn-default" id="r1" role="button">Retour</a></p>
        </div>
      </div>
    </div>
  </div>
    <div id="video1">
      <iframe width="400" height="225" src="//www.youtube.com/embed/4UczzQoMeAA?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="recit2">
      <div class="col-sm-6 col-md-5 col-lg-5">
        <div class="thumbnail">
          <%= image_tag "samba.png" %>
          <div class="caption">
            <h3>Recit 2</h3>
            <p>Une course de fond pour ton Salut
              Ajoutée le 4 mai 2014
              Pour suivre la serie :
              www.seuletravailpaie.com
              Facebook : facebook.com/seuletravailpaie
            </p>
            <p><a class="btn btn-primary" id="b2" role="button">Regarder</a> <a class="btn btn-default" id="r2" role="button">Retour</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="video2">
    <iframe width="400" height="225" src="//www.youtube.com/embed/cq9Pw47DWYM?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="row">
  <div class="recit3">
    <div class="col-sm-6 col-md-offset-1 col-md-5 col-md-offset-1 col-lg-offset-1 col-lg-5 col-lg-offset-1">
      <div class="thumbnail">
        <%= image_tag "gassama.jpg" %>
        <div class="caption">
          <h3>Recit 3</h3>
          <p>N'essaie pas, fais le
            Ajoutée le 4 mai 2014
            Pour suivre la serie :
            www.seuletravailpaie.com
            Facebook : facebook.com/seuletravailpaie
          </p>
          <p><a class="btn btn-primary" id="b3" role="button">Regarder</a> <a class="btn btn-default" id="r3" role="button">Retour</a></p>
        </div>
      </div>
    </div>
  </div>

    <div id="video3">
<iframe width="400" height="300" src="//www.youtube.com/embed/MFyOHY7YzWc?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="recit4">
      <div class="col-sm-6 col-md-5 col-lg-5">
        <div class="thumbnail">
          <%= image_tag "ban_vestiaire_LOGONEON.JPG" %>
          <div class="caption">
            <h3>Dans les prochains Récits</h3>
            <p>Plus qu'un club
              Ajoutée le 4 mai 2014
              Pour suivre la serie :
              www.seuletravailpaie.com
              Facebook : facebook.com/seuletravailpaie
            </p>
            <p><a class="btn btn-primary" id="b4" role="button">Regarder</a> <a class="btn btn-default" id="r4" role="button">Retour</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="video4">
    <iframe width="400" height="225" src="//www.youtube.com/embed/ctp8zU3YLqc?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>