<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:black; clear:left; font:14px 'Keania One', cursive;}
	label {color: white;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://seuletravailpaie.us8.list-manage.com/subscribe/post?u=da14fba3c89e5616db07b73ac&amp;id=f8fa8152b5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">Inscrivez-vous et faites connaitre le projet </label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_da14fba3c89e5616db07b73ac_f8fa8152b5" value=""></div>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
<!--End mc_embed_signup-->
<div class="jumbotron">
  	<h1>Seul le travail paie...</h1>
  	<p class="lead">Dans nos regards, une seule vérité, une seule. Seul le travail paie.Voici notre<button type="button" class="btn btn-default histoire">histoire</button></p>
</div>

<div class="msg-histoire">
<p> Hey ! T'es en avance là !</br> 
	Reviens à 20h pile poil ! Y'aura du nouveau.</br> 
	À tout à l'heure ! 
</div>

<div class="text-center col-md-12 col-sm-12 col-xs-10">
<iframe width="846" height="469" src="//www.thinglink.com/card/516409450383278080" type="text/html" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen scrolling="no"></iframe>
</div>