body {
    background-color: black;
}

.histoire {
	padding: 2px;
	margin-left: 5px;
	font-size: 20px;
}

.msg-histoire {
	display: none;
	text-align: center;
	font-family: 'Lobster', 'cursive';
	background-color: rgb(255,255,255);
	color: black;
	border-radius: 20px;
	margin-left: 400px;
	margin-right: 300px;
}

/* header */

.jumbotron {
	background-color: rgba(0,0,0,0.5);
	color: white  !important;
	margin-top: 80px;
    font-family: 'Keania One', cursive;
}

.container {
    font-family: 'Londrina Outline', cursive;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}

.text-muted {
	font-family: 'Keania One', cursive;
	color: white;
	font-size: 50px;
}

/* footer */

footer {
    font-family: 'Keania One', cursive;
    color: white;
}

/* staff */

#logo {
opacity:0.2;
filter:alpha(opacity=20); /* For IE8 and earlier */
}

.label {
	background-color: blue;
}

.list-joueurs {
	margin-top: 70px;
	float: right;
	font-family: 'Keania One', cursive;
	background-color: rgba(26,12,232,0.3);
	color: white;
}

.Didier {
	display: none;
	margin-top: 70px;
	margin-left: 150px;
}