body {
	background: url(theo.png) no-repeat center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    margin-top: 300px;
    background-color: black;
}

/* header */
/*
.jumbotron {
	background-color: rgba(0,0,0,0.5);
	color: white  !important;
	margin-top: 80px;
    font-family: 'Keania One', cursive;
}

.container {
    font-family: 'Londrina Outline', cursive;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}

.nav-justified {
	color: #FFFFFF !important;
}
*/

.text-muted {
	font-family: 'Keania One', cursive;
	color: white;
	font-size: 50px;
	text-align: center;

}

.lead {
	font-family: 'Keania One', cursive;
	color: white;
}

/* footer */

.footer {
	font-family: 'Keania One', cursive;
	text-align: center;
	color: white;
	font-size: 20px;
}