<div class="panel panel-default aladine">
  <div class="panel-body">
    <p>C'est avec un désir de changement que l'idée de cette série a été pensée il y a un an avec Samba Camara, le coach du club. Après avoir assisté à un entraînement du club, Aladine Zaïane, un jeune web développeur/vidéaste est captivé par l'énergie déployée par l'équipe encadrante et les motivations qui animent le club.
    De plus, le futsal est une activité que beaucoup d'adolescents ont pratiqué mais sans réelles structures. Cette discipline souffre d'ailleurs de ce manque d'organisation. Dans des pays comme l'Espagne ou le Brésil, ce sport est davantage médiatisé. En France, il reste cantonné à un sport de "loisir" pratiqué par des "banlieusards". 
    Pour les besoins de ce pojet et des autres à venir, Aladine monte une boîte de production : La Salle du Temps. Celle-ci a vocation a mêler des projets audiovisuels et l'univers du code informatique qui est une magnifique source de liberté et d'action. Surtout dans les quartiers populaires où il y a un besoin urgent de communication et de professionalisation des structures. Ce projet mêle ainsi, journalisme et empowerment.</br>
    </br>

         Budget : Zero euros !</br>

    Concernant les moyens financiers et matériels pour produire cette web série, il ne faut pas chercher bien loin : ZERO euros, voici le montant de notre budget. La précarité était bien au rendez-vous, les moments de doute nombreux. Mais portés par un idéal et une volonté de fer, le projet est bien là et c'est maintenant à vous de le faire vivre en le partageant avec vos proches.
    </br>

    Aladine Zaïane : Après une licence en sociologie politique, il se lance durant 5 ans dans une sorte de parcours initiatique dans le monde audiovisuel à travers l'association Hors Cadre. Durant ces années il découvre la France en participant à des projets un peu partout dans l'Héxagone, mais aussi le monde. Le Brésil, où il présente un documentaire réalisé par Hors Cadre. Le Moyen-Orient (Egypte, Syrie, Liban, Arabie Saoudite) en 2011, lors des Révolutions arabes, pour rencontrer les acteurs de ces évènements historiques.</br>
    </br>
    La même année, "Rue des cités" lui montre la voie. Ce premier long métrage réalisé par Hakim Zouhani et Carine May, auquel il participa modestement en tant que régisseur est retenu dans la sélection ACID lors du Festival de Cannes 2011. Il sort dans les salles en 2013. On peut aller très loin avec presque rien.</br>
    </br> 
    Enfin, il ponctue son initiation par une formation intensive au code informatique à Simplon.co. D'autres projets vont suivre à la suite de cette formation, dans le domaine des applications mobiles en lien direct (et toujours) avec les structures des quartiers populaires. </br>
    Pour contacter Aladine Zaïane : 06 68 90 84 52
    </p>
  </div>
</div>